{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Department Details</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'department_list' %}">Department</a></li>
                        <li class="breadcrumb-item active">Department Details</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="about-info">
                            <h4>Department Info</h4>
                            <div class="media mt-3">
                                <div class="media-body">
                                    <ul>
                                        <li>
                                            <span class="title-span">Department ID: </span>
                                            <span class="info-span">{{ department.department_id }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Name : </span>
                                            <span class="info-span">{{ department.name }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Head of Department : </span>
                                            <span class="info-span">{{ department.head_of_department }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Started Year : </span>
                                            <span class="info-span">{{ department.start_year }}</span>
                                        </li>
                                        <li>
                                            <span class="title-span">Capacity : </span>
                                            <span class="info-span">{{ department.students_capacity }} Students</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

      
      
      
      
      <script src="{%static 'assets/plugins/datatables/datatables.min.js' %}"></script>
      

{% endblock %}
