{% extends 'Home/base.html' %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet">

<div class="page-wrapper">
    <div class="content container-fluid">
        
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Holiday Calendar</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'holiday_list' %}">Holidays</a></li>
                        <li class="breadcrumb-item active">Calendar</li>
                    </ul>
                </div>
                <div class="col-auto text-right float-right ml-auto">
                    <a href="{% url 'add_holiday' %}" class="btn btn-primary"><i class="fas fa-plus"></i> Add New Holiday</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        
        // We grab the JSON string from Django and parse it safely into JavaScript
        var eventsData = JSON.parse('{{ events_json|safe }}');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            events: eventsData,
            height: 800, // Makes it look nice and tall
        });
        
        calendar.render();
    });
</script>
{% endblock %}